* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.hz-line {
    border-bottom: 1px solid rgb(60, 60, 60);
}

body {
    background-color: black;
    color: white;
}

.nav-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    width: 96%;
    margin: 0 auto;
    padding: 10px 0;
}

div.header-right > i {
    padding: 0 4px;
}

.my-chart {
    transform: rotateY(180deg);
}

